* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo', Arial, sans-serif;
    color: #fff;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #000201;
}
::-webkit-scrollbar-thumb {
    background: #3265EA;
    border-radius: 20px;
}
html, body {
    height: 100vh;
    width: 100vw;
    background: #000201;
    font-size: 62.5%;
}
div.container-all {
    overflow-x: hidden !important;
}
img {
    max-width: 100%;
    display: block;
}